/* Review area CSS */
.review {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  &__box {
    flex: 1 1 20%;
    padding: 20px;
    border: $border;
    border-radius: 5px;
    box-shadow: $shadow;
    position: relative;
    overflow: hidden;
  }
  &__icon {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 60px;
    color: $light_gray;
  }
  &__user {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
    &__image {
      height: 80px;
      width: 80px;
      border-radius: 50%;
    }
    &__title {
      font-size: 24px;
      text-transform: capitalize;
      font-weight: 600;
    }
    &__stars {
      color: gold;
      font-size: 16px;
    }
  }
  &__text {
    font-size: 16px;
    color: #666;
    line-height: 25px;
  }
}
